/* font-family: 'Carter One', cursive;
font-family: 'Poppins', sans-serif; */
:root{
    --primary-color: #2D3748;
    --white: #ffffff;
    --btn-green: #1FA3A3;
    --btn-hover-green: #177878;
    --footer-btn: #6a5acd;
    --foter-bg: #EDF2F7;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* common */
.list--inline{
    display: inline;
}
/* navbar */
nav{
   display: flex;
   justify-content: space-between;
   background-color: var(--primary-color);
   padding: 4px 12px;
}

.nav__logo{
   width: 130px;
   height: auto;
}

.nav__list{
   align-self: center;
}

.nav__list li{

}

.nav__list a{

}

.nav__btn{
    padding: 6px 12px;
    font-size: 18px;
    letter-spacing: .3px;
}

#signup{
    background-color: transparent;
    border: none;
    color: var(--btn-green)
}

#signup:hover{
    color: var(--btn-hover-green);
    transition: ease-out 0.7s;
}

#login{
    background-color: var(--btn-green);
    color: #fff;
    border: none;
    border-radius: 5px;
}

#login:hover{
    background-color: var(--btn-hover-green);;
    transition: ease-out 0.7s;
}

/*header*/
.header__flex{
    display: flex;
    justify-content: space-between;
    padding: 16px 16px;
    background-color: var(--primary-color);;
}

.header__intro{
   width: 50%
}

.header__heading{
    font-family: 'Carter One', cursive;
    color: white;
    font-weight: 900;
    font-size: 36px;
}

.header__description{
    font-size: 20px;
    color: var(--white);
    width: 85%;
}

.header__flex figure{

}

.header__image{
    height: 350px;
    width: auto;
}

/* products */
.products__grid{
    display: grid;
    height: 500px;
}

.products__heading{
    font-family: 'Carter One', cursive;
    font-size: 36px;
    color: var(--primary-color);
    padding: 0px 12px;
}