/* font-family: 'Carter One', cursive;
font-family: 'Poppins', sans-serif; */
:root{
    --primary-color: #2D3748;
    --white: #ffffff;
    --btn-green: #1FA3A3;
    --btn-hover-green: #177878;
    --footer-btn: #6a5acd;
    --footer-bg: #EDF2F7;
    --footer-text: #718096;
    --disclaimer-text: #a0aec0;
    --name: #FBD38D;
    --grey: #777777;
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.login{
    margin:auto;
    border: 1px solid var(--grey);
    padding: 6px 12px;
    border-radius: 5px;
    background-color: var(--white);
    width: 60%;
}

.fa-shopping-cart{
    font-size: 32px;
    color: var(--btn-green);
    margin-left: 10px;
}

.fa-times{
   color: var(--grey);
   font-size: 1.5rem;
   cursor: pointer;
}

#cancel{
    display: flex;
    justify-content: flex-end;
}

.banner__grey{
    width: 200px;
    height: auto;
    display: block;
    margin: 16px auto;
}

.login__email{
    margin-bottom: 12px;
    border:1px solid #000;
    background-color: var(--footer-bg);
    display: block;
    width: 98%;
    border: none;
    padding: 10px 8px;
    border-radius: 4px;
}

.login__password{
    width: 97%;
    margin-bottom: 12px;
    background-color: var(--footer-bg);
    border: none;
    padding: 9px 12px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
}

.login__submit{
    width: 100%;
    margin-bottom: 12px;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;
    background-color: var(--btn-green);
    color: var(--white);
}

